<div id="existingkit-modal" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Login successful</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>netIOT Starterkit found, press OK to continue.</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default next" data-dismiss="modal">OK &#10097;</button>
    </div>
  </div>
</div>