<div id="register-modal" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Login failed</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <fieldset class="form-group">
            <label for="device-name">Your Starterkit name:</label>
            <input type="text" id="device-name-reg" class="form-control" disabled>
          </fieldset>
          <fieldset class="form-group">
            <label for="user-mail">Your Email Address:</label>
            <input type="text" id="user-mail-reg" class="form-control" disabled>
          </fieldset>
          <div class="alert alert-danger">netIOT Starterkit not found, press register to continue or back to change your data.</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default back">&#10096; Back</button>
      <button type="button" class="btn btn-default next" data-dismiss="modal">Register &#10097;</button>
    </div>
  </div>
</div>