<div id="welcome-modal" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Login to your personal netIOT Starterkit Dashboard</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <fieldset class="form-group">
            <div class="alert alert-danger" id="alert-conflict">This Starterkit is already registered. Please enter another name or email adress.</div>
            <label for="device-name">Name your Starterkit:</label>
            <input type="text" id="device-name" placeholder="Please enter your Starterkit name" class="form-control">
          </fieldset>
          <div class="alert alert-danger" id="alert-device"></div>
          <fieldset class="form-group">
            <label for="user-mail">Enter your Email Address:</label>
            <input type="text" id="user-mail" placeholder="Please enter your email adress" class="form-control">
          </fieldset>
          <div class="alert alert-danger" id="alert-email"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default login">Login &#10097;</button>
      <button type="button" class="btn btn-default register">Register &#10097;</button>
    </div>
  </div>
</div>